
reloadPlugin.bat
.vs/HFF_SpeedTools/FileContentIndex/50d97003-c871-4bf9-af96-f94a4740e2ce.vsidx
.vs/HFF_SpeedTools/FileContentIndex/50d97003-c871-4bf9-af96-f94a4740e2ce.vsidx
.vs/HFF_SpeedTools/FileContentIndex/70d7c7d1-e6cd-4031-bb82-ec9f16ecf506.vsidx
.vs/HFF_SpeedTools/v17/.suo
HFF_SpeedTools/bin/Debug/HFF_SpeedTools.dll
HFF_SpeedTools/bin/Debug/HFF_SpeedTools.pdb
HFF_SpeedTools/obj/Debug/HFF_SpeedTools.dll
HFF_SpeedTools/obj/Debug/HFF_SpeedTools.pdb
.vs/HFF_SpeedTools/FileContentIndex/50d97003-c871-4bf9-af96-f94a4740e2ce.vsidx
.vs/HFF_SpeedTools/v17/.suo
*.pdb
*.dll
*.vsidx
